
.overlay {

  margin-top: -390px;
  margin-right: -600px;
  position: relative;
}
.heading {
  font-size: 3rem;
  font-weight: lighter;
  color: rgb(255, 255, 255);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif

}

.bg{
  margin-top: 5px;
}


