/* Navbar Styling */
.navbar {
  background-color: #ffffff; /* Light grey background */
  border-bottom: 1px solid #858585; /* Subtle bottom border for separation */
  padding: 0.5rem 1rem;
  display: flex;
  align-items:flex-end;
  justify-content:flex-end;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  /* margin-right: -1200px; */
}

/* Container for centering content */
.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 490px;
  width: 100%;
}

/* Brand styling */
.navbar-brand img {
  width: 60px;
  height: auto;
  /* margin-top: -px; */
  margin-left: -300px;
}

/* Navigation links styling */
.nav {
  display: flex;
  margin-right: -300px;
}

.nav-link {
  color: #6c757d; /* Medium grey for links */
  font-size: 1.2rem;
  font-weight: 500;
  margin-right: 1.5rem;
  text-decoration: none;
  transition: color 0.3s ease;
}

.nav-link:hover {
  color: black; /* Darker on hover */
}

.nav-link.active {
  font-weight: bold;
  color: black;
}
